.panel{
    padding: 20px;
    border-left: solid 1px #808080;
    border-right: solid 1px #808080;
    border-top: solid 1px #808080;
    display: block;
    width: 270px;
}

.bigtitle{
    font-size: 28px;
    text-align: center;
}

.inputresult{
    font-size: 22px;
    display: inline-block;
}

.main{
    text-align: center; /*让div内部文字居中*/
    background-color: #fff;
    border-radius: 20px;
    width: 300px;
    height: 350px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.inputtext{
    font-size: 30px;
    border: solid 1px #e0e0e0;
    border-radius: 8px;
    width: 60px;
    padding: 5px;
}

.assert{
    font-size: 36px;
    display: inline-block;
    margin: 5px;
}

.onebutton{
    font-size: 24px;
    color: white;
    background: rgb(172,1,55);
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    width: 250px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.xzret{
    border-bottom: solid 1px #808080;
}
